# Prerequisites
*.d

# Compiled object files
*.slo
*.lo
*.o
*.obj

# Precompiled headers
*.gch
*.pch

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*~
build
#
*#
*#*
.dir-locals.el
/presentation/.ipynb_checkpoints/Untitled-checkpoint.ipynb

# CMake build artifacts
include/jet/CmakeMacros.hpp

# Python
.venv
__pycache__
dist

# Sphinx documentation
docs/__pycache__/*
docs/_build/*
docs/_ext/__pycache__/*
docs/api/*
docs/code/api/*
docs/doxyoutput/*
