breathe==4.29.0
docutils<0.17
exhale
ipykernel
# Place an upper bound on Jinja to address https://github.com/pallets/jinja/issues/1631.
jinja2<3.1.0
m2r2
nbsphinx
repoze.lru>=0.7
scipy>=1.2.1
sphinx-automodapi
sphinx-copybutton
sphinx-tabs
sphinx==3.5.4
sphinxcontrib-bibtex
sympy>=1.5.1
version_information
xanadu-sphinx-theme==0.1.0
